  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Oswald:wght@200;300&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.wrapper {
  @apply w-2 h-[50px] fixed -translate-x-2/4 -translate-y-2/4 left-2/4 top-2/4;
}
.container {
  @apply w-full h-full overflow-hidden rounded-[30px];
  background: rgba(255, 255, 255, 0.4);
}
.item {
  @apply w-[inherit] h-[inherit] origin-[50%_100%] rounded-[30px];
  background: white;
}
